
@{ Layout = "_Layout"; }
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Management Project</div>
        <div class="list-group list-group-flush">
            <!-- /#dashboard -->
            <a  asp-action="Dashboard" asp-controller="Home" class="list-group-item list-group-item-action"><i class="far fa-chart-bar"></i> Dashboard</a>
            <!-- /clients -->
            <a  data-toggle="collapse" data-target="#menu1" class="list-group-item list-group-item-action collapsed"><i class="fas fa-user"></i> <span class="nav-label"> Clients</span><span class="fa fa-chevron-left float-right"></span></a>
            <ul class="sub-menu collapse1" id="menu1">
                <li><a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Client"> list Clients</a></li>
                <li><a class="list-group-item list-group-item-action" asp-action="Add" asp-controller="Client"> add Clients</a></li>
            </ul>
            <!-- /#Projects-->
            <a data-toggle="collapse" data-target="#menu2" class="list-group-item list-group-item-action collapsed"><i class="fas fa-briefcase"></i> <span class="nav-label">Projects</span><span class="fa fa-chevron-left float-right"></span></a>
            <ul class="sub-menu collapse" id="menu2">
                <li><a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Project"> list Project</a></li>
                <li><a class="list-group-item list-group-item-action" asp-action="Add" asp-controller="Project"> add Projects</a></li>
            </ul>
            <!-- /#tasks-->
            <a data-toggle="collapse" data-target="#menu3" class="list-group-item list-group-item-action collapsed"><i class="fas fa-tasks"></i> <span class="nav-label">Tasks</span><span class="fa fa-chevron-left float-right"></span></a>
            <ul class="sub-menu collapse" id="menu3">
                <li><a class="list-group-item list-group-item-action" asp-action="index" asp-controller="Tasks"> Tasks</a></li>
            </ul>
            <!-- /#chat-->
            <a class="list-group-item list-group-item-action"asp-controller="Chat" asp-action="index"> <i class="far fa-comment"></i> Chat</a>
            <!-- /#settings-->

            <a data-toggle="collapse" data-target="#menu5" class="list-group-item list-group-item-action collapsed"><i class="fas fa-user-cog"></i><span class="nav-label"> Settings</span><span class="fa fa-chevron-left float-right"></span></a>
            <ul class="sub-menu collapse" id="menu5">
                <li><a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="User"> Users</a></li>
                <li><a class="list-group-item list-group-item-action" asp-action="index" asp-controller="TeamMember">Teams</a></li>
            </ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <a class="" id="menu-toggle"><i class="fas fa-bars"></i></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">


                    <li class="nav-item dropdown">
                        <a class="nav-link"id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" >Log out </a>


                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--dashboard-->
        @RenderBody()
    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)
<!-- Menu Show Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });</script>