@model GestionProject.ViewModels.ChatViewModel
@{ Layout = "_DashboardLayout"; }


   


    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="txt-themecolor">Inbox</h3>
        </div>
        <div class="col-md-7 align-self-center">

        </div>

    </div>
    <div class="container">
        <div class="content container-fluid bootstrap snippets bootdey">
            <div class="row ">
                <div class="col-sm-3"></div>
                <div class="col-sm-12  chat">
                    <div class="col-inside-lg decor-default">
                        <div class="chat-body" id="messagesList">
                            <h6>Mini Chat</h6>
                            <div class="answer left">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                                    <div class="status offline"></div>
                                </div>
                                <div class="name"> ali Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>


                        </div><!--chat_area-->
                        <div class="message_write">
                            <div class="row">
                                <div class="col-md-5">
                                    <form method="post" enctype="multipart/form-data" asp-controller="Chat" asp-action="Index">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <p>Upload file</p>
                                                <input class="form-control" name="files" type="file" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input class="btn btn-success" type="submit" value="Upload" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!--message_section-->

            </div>
        </div>
    </div>




    <!-- /#wrapper -->
    <!-- Bootstrap JavaScript -->
    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Show Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

 

   
