@model GestionProject.ViewModels.TaskViewModel
@{ Layout = "_DashboardLayout"; }
<div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <a class="" id="menu-toggle"><i class="fas fa-bars"></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">


                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">Log out </a>


                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="txt-themecolor">Tasks</h3>
        </div>
        <div class="col-md-7 align-self-center">

        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@@mdo">Add New Task </button>


                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label>Teams</label>
                                                <select id="TeamId"  name=" TeamId" class="form-control">
                                                    <option selected="">Mobile application</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Due Date:</label>
                                                <input type="text"  asp-for="duedate" class="form-control" id="completed">
                                            </div>

                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Task name :</label>
                                                <textarea class="form-control" asp-for=" Nametask" id="taskn"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">


                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Progress</th>
                                        <th>Deadline</th>
                                        <th class="text-nowrap">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lunar probe project</td>
                                        <td>
                                            <div class="progress progress-xs margin-vertical-10 ">
                                                <div class="progress-barc bg-danger"></div>
                                            </div>
                                        </td>
                                        <td>May 15, 2015</td>
                                        <td class="text-nowrap">
                                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dream successful plan</td>
                                        <td>
                                            <div class="progress progress-xs margin-vertical-10 ">
                                                <div class="progress-bar bg-warning" style="width: 50%; height:6px;"></div>
                                            </div>
                                        </td>
                                        <td>July 1, 2015</td>
                                        <td class="text-nowrap">
                                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Office automatization</td>
                                        <td>
                                            <div class="progress progress-xs margin-vertical-10 ">
                                                <div class="progress-barb bg-success"></div>
                                            </div>
                                        </td>
                                        <td>Apr 12, 2015</td>
                                        <td class="text-nowrap">
                                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>The sun climbing plan</td>
                                        <td>
                                            <div class="progress progress-xs margin-vertical-10 ">
                                                <div class="progress-bar bg-primary"></div>
                                            </div>
                                        </td>
                                        <td>Aug 9, 2015</td>
                                        <td class="text-nowrap">
                                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Open strategy</td>
                                        <td>
                                            <div class="progress progress-xs margin-vertical-10 ">
                                                <div class="progress-bara bg-info"></div>
                                            </div>
                                        </td>
                                        <td>Apr 2, 2015</td>
                                        <td class="text-nowrap">
                                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tantas earum numeris</td>
                                        <td>
                                            <div class="progress progress-xs margin-vertical-10 ">
                                                <div class="progress-bar bg-inverse"></div>
                                            </div>
                                        </td>
                                        <td>July 11, 2015</td>
                                        <td class="text-nowrap">
                                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /#page-content-wrapper -->
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                        2
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>



<!-- /#wrapper -->
<!-- Bootstrap JavaScript -->
<script src="../assets/plugins/jquery/jquery.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Show Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>