@model List<GestionProject.ViewModels.ProjectViewModel>
@{
    Layout = "_DashboardLayout";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="container">

                <from method="get" asp-action="Index">
                    <label> </label>
                    <input type="text" name=" key"/>
                    <button type ="submit" class="btn btn-primary"> Search</button>

                </from>
            </div>


            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name project</th>
                            <th>Client</th>
                            <th>manager project</th>
                            <th>Team Member</th>
                            <th>Date Start</th>
                            <th>Days to Deadline</th>
                            <th>Project Status</th>

                            <th class="text-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model)
                        {
                        <tr>
                            <td>@project.ProjectName</td>
                            
                            <td>@project.ClientName</td>
                        
                            <td>@project.StartDate.ToLongDateString()</td>
                            


                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt text-inverse mr-1"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>
            <!-- /#page-content-wrapper -->
           
        </div>
    </div>
</div>